colorChapter = #981868
colorSection = #008498
colorBody = #FFF
colorHeading = #777
colorGrey = #DDD
fontChapter = "Anonymous pro"
fontSection =  "ubuntu mono" // "roboto" "Codename Coder Free 4F" "SF Archery Black"
fontHeading =  "Short Stack" //"PLAYTIME WITH HOT TODDIES""JollyGood Sans Basic" "Days" "Architects Daughter" "Short Stack"
fontBody = "ubuntu" // "roboto" "source code pro" "ubuntu"
fontSizeBody = 12pt
fontSizeBodyFront = 13pt
fontSizeQuote = 13pt
fontSizeMargin = 14pt
fontSizeHeading = 17pt
fontSizeSection = 26pt
fontSizeChapterFront = 38pt
fontSizeChapter = 50pt


outerMargin = 25mm
@page 
  size: A4;
  margin: 27mm 16mm 27mm 16mm;
  font-family: fontBody
  background-color: colorBody
  font-size: fontSizeMargin
.clear
  clear: both;
.container
  background-color: colorBody
  width: 21cm - (2*outerMargin)
  margin: auto
  padding: 27mm outerMargin 27mm outerMargin
@media print
  .container
    width: 100%
    margin: 0
    padding: 0
body
  font-family: fontBody
  background-color: colorGrey
  text-rendering: optimizeLegibility;
  font-size: fontSizeBody
@media print
  body
    background-color: colorBody
@page :left { 
  margin-left:outerMargin + 5mm; margin-right:outerMargin - 5mm 
}
@page :right { 
  margin-left:outerMargin - 5mm; margin-right:outerMargin + 5mm 
}
.newCounter
  counter-reset: page 
  page: empty
h2 span.chapternumber
  font-size: 550px
  position: absolute
  right: -30px
  top: -200px
  color: rgba(colorChapter,0.1)
  z-index: 0
h2
  font-family fontChapter
  font-weight: bold
  color: colorChapter
  page-break-before: right
  counter-reset: figure section
  counter-increment: chapter
  font-size:fontSizeChapter
  position: relative
  margin-top:300px
  margin-bottom: 70px
@media print
  h2
    margin-top: 40px
h2 span.chaptertext
  string-set: chapter counter(chapter) " | "  content()
h3 
  font-family fontSection
  color: colorSection
  counter-increment: section
  
  font-size:fontSizeSection
h3 span.sectiontext
  string-set: section counter(chapter) "." counter(section) " " content()
h5 
  color colorHeading
  border-bottom: 2px colorHeading solid
  font-size:fontSizeHeading
  font-family fontHeading
  padding-bottom: 1px
  margin-bottom: 6px
h1, h2, h3, h4, h5, h6 
 page-break-after: avoid

h2 { bookmark-level: 1 }
h3 { bookmark-level: 2 }
h5 { bookmark-level: 3 }


@page empty
  @top-right
    content: normal
  @top-left 
    content: normal  
  @bottom-right 
    content: normal
  @bottom-left 
    content: normal
.emptyPage
  page: empty
  page-break-after: always

@page :first 
  @top-right 
    content: normal 
  @top-left 
    content: normal 

@page :left 
  @top-left
    font-family fontSection
    color: colorSection
    content: string(section)
    
  @bottom-left 
    content: counter(page)
  
@page :right 
  @top-right 
    font-weight: bold
    font-family fontChapter
    color: colorChapter
    content: string(chapter)
  @bottom-right 
    content: counter(page)

.front-matter
  page: front-matter
  font-size: fontSizeBodyFront
.front-matter h2
  font-size: fontSizeChapterFront

  
@page front-matter:left 
  @top-right 
    content: normal 
  @top-left 
    content: normal 
  @bottom-left 
    content: counter(page, lower-roman)
@page front-matter:right 
  @top-right 
    content: normal 
  @top-left 
    content: normal 
  @bottom-right 
    content: counter(page, lower-roman)  

.back-matter
  page: back-matter
  font-size: fontSizeBodyFront
.back-matter h2
  font-size: fontSizeChapterFront
  
@page back-matter:left 
  @top-right 
    content: normal 
  @top-left 
    content: normal 
@page back-matter:right 
  @top-right 
    content: normal 
  @top-left 
    content: normal 

#toc ul
  list-style-type: none;
  margin 0
  padding-left 0px
#toc>ul
  padding-left 20px
#toc ul > li
  padding-bottom: 1px
#toc ul > li:before 
  content: ""
#toc ul a::after 
  content: leader('. ') target-counter(attr(href), page);


img 
  margin 0px 
  image-resolution: auto
img.dpi300
  zoom 32%
  image-resolution: 300dpi
img.dpi150
  zoom 64%
  image-resolution: 150dpi
figcaption span.figurenumber,
a span.figurenumber,
a span.figurereftext
  font-weight: bold

figure
  margin 5px 0 12px 0
  counter-increment: figure
  background-color: colorBody
  display:table
  width: 100%
figure img
  display: block
  margin: 0 auto 0.55em
figure figcaption
  margin-top: 8px
  display: table-caption
  caption-side:bottom
  padding: 0 15px
  text-align: justify
figure.pull-left figcaption,
figure.pull-right figcaption  
  padding: 0
figure.pull-left
  margin-right 18px
  width: auto
figure.pull-right
  margin-left 18px
  width: auto
p
  z-index: 10
  text-align justify
p,ul, li.toc.chapter
  margin-bottom: 10px
  margin-top: 0px
  page-break-inside:avoid;
p + ul
  margin-top: -5px
a
  z-index: 100
  color #000
  text-decoration: none
blockquote
  padding-right: 15px
  padding-left: 0
  border-right: 5px solid colorChapter
  border-left: 0
  margin-right: 0
  text-align: right
  font-size: fontSizeQuote
blockquote cite
  color: colorHeading
  font-size: fontSizeBody
  font-style: normal
span.dash,
blockquote cite:after 
  content: ' \2013'
  font-family: "Verdana"
ul
  list-style: none;
  padding-left: 30px
  margin-left: 0
ul > li:before 
  content: "• "
  color: colorHeading
  position: absolute
  left: -1.1em
ul > li
  padding-bottom: 4px
  position: relative
li > br + i
  padding: 5px 0 12px 0
  display: block;
cite span.citenumber 
  vertical-align:top; 
  font-size:0.7em; 
  line-height:100%;
  font-style: normal
td.bibleft
  vertical-align: top;
  text-align: right;
  padding-right: 5px;
td.bibright
  vertical-align: top;
  text-align: left;
.bibjournal
  font-style: italic
span.biburl
  font-size: 1.1em
.biburl
  font-weight: lighter
@font-face {
  font-family: 'FontAwesome';
  src: url('../vendor/font-awesome/fonts/fontawesome-webfont.eot');
  src: url('../vendor/font-awesome/fonts/fontawesome-webfont.woff') format('woff'), url('../vendor/font-awesome/fonts/fontawesome-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
span.sc
  font-feature-settings: 'smcp'
  font-variant-caps: small-caps;
  font-variant: small-caps;
span.tc
  letter-spacing: 0.2em;
span.strongred,
span.strongred *
  color:red !important
span.strongblue,
span.strongblue *
  color:blue !important