doctype html
html
  head
    meta(charset="utf-8")
    // bower:css
    link(rel='stylesheet', href='../vendor/font-awesome/css/font-awesome.css')
    // endbower
    link(rel="stylesheet" href="index.css")
    // bower:js
    script(src='../vendor/jquery/dist/jquery.js')
    // endbower
    script(src='index.js')
  body(onload="window.generateTOC()")
    .container
      .emptyPage
      .emptyPage.newCounter
      .front-matter
        include abstract.jade
        h2 Table of contents
        #toc
        
      .newCounter
      include chapter1.jade
    